{% extends "base.html" %} {% load static %} {% block content %}
<style>
  .sort-indicator::before {
    content: "\2193"; /* Unicode character for arrow-up */
    display: inline-block;
    vertical-align: middle;
    color: black;
  }
  div {
    font-family: "Montserrat", sans-serif;
  }
</style>
<div class="row mt-3">
  <div class="col-md-6">
    <h2>Employees</h2>
  </div>
  <div class="col-md-6">
    <form method="get" class="d-flex">
      <input class="form-control me-sm-2" type="search" placeholder="Search" name="{{ employee_filter.form.search.name }}">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="row mt-4 ps-5 pe-5 pb-3">
  <div class="col-md-2">
    Name <a href="?sort=emp_name"><span class="sort-indicator"></span></a>
  </div>
  <div class="col-md-2">
    Emp code
    <a href="?sort=emp_code"><span class="sort-indicator"></span></a>
  </div>
  <div class="col-md-2">
    Department
    <a href="?sort=department"><span class="sort-indicator"></span></a>
  </div>
  <div class="col-md-2">
    Basic pay
    <a href="?sort=basic_pay"><span class="sort-indicator"></span></a>
  </div>
  <div class="col-md-2">
    SA
    <a href="?sort=sa"><span class="sort-indicator"></span></a>
  </div>
  <div class="col-md-2">
    HRA
    <a href="?sort=hra"><span class="sort-indicator"></span></a>
  </div>
</div>

{% for item in employee_filter.qs %}
<div class="row border border-secondary rounded p-5 mb-3 bg-light">
  <div class="col-md-2">{{item.emp_name}}</div>
  <div class="col-md-2">{{item.emp_code}}</div>
  <div class="col-md-2">{{item.department}}</div>
  <div class="col-md-2">{{item.basic_pay}}</div>
  <div class="col-md-2">{{item.sa}}</div>
  <div class="col-md-2">{{item.hra}}</div>
</div>
{% endfor %}
<div class="add-employee-button">
  <a href="{% url 'addemployee' %}" style="color: white; text-decoration: none"
    ><span class="plus-symbol">+</span></a
  >
</div>
{% endblock %}

<!-- <style>
  .sort-indicator::before {
    content: "\2193"; /* Unicode character for arrow-up */
    display: inline-block;
    vertical-align: middle;
    color: black;
  }
  div {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: #72e748;
    background-image: linear-gradient(315deg, #81eef0 0%, #9bdf62 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .add-employee-button {
    position: fixed;
    bottom: 50px;
    right: 90px;
    background-color: rgb(63, 111, 214);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

  .plus-symbol {
    vertical-align: middle;
  }
  .filter-dropdown {
    display: none;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    top: 60%; /* Position below the filter icon */
    left: 0; /* Align with the left edge of the filter icon */
    z-index: 1;
  }

  .filter-dropdown label {
    display: block;
    margin-bottom: 5px;
  }

  .filter-dropdown select,
  .filter-dropdown button {
    margin-top: 5px;
  }

  .filter-dropdown button {
    background-color: rgb(63, 111, 214);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .fa-filter:hover + .filter-dropdown,
  .filter-dropdown:hover {
    display: block;
  }
  .filter-icon-container {
    position: relative;
  }
</style> -->

<!-- <h2>Employee list</h2>
<table class="table table-hover custom-table border " >
    <thead>
      <tr>
        <th scope="col">EmpCode<a href="?sort=emp_code"><span class="sort-indicator"></span></a></th>
        <th scope="col">EmpName<a href="?sort=emp_name"><span class="sort-indicator"></span></a></th>
        <th scope="col">Department<a href="?sort=department"><span class="sort-indicator"></span></a></th>
        <th scope="col">Basic<a href="?sort=basic_pay"><span class="sort-indicator"></span></a></th>
        <th scope="col">SA<a href="?sort=sa"><span class="sort-indicator"></span></a></th>
        <th scope="col">HRA<a href="?sort=hra"><span class="sort-indicator"></span></a></th>
        <th scope="col">PRA Gain<a href="?sort=pra_gain"><span class="sort-indicator"></span></a></th>
        <th scope="col">Attendance Bonus<a href="?sort=att_bonus"><span class="sort-indicator"></span></a></th>
        <th scope="col">PRA Loss<a href="?sort=pra_loss"><span class="sort-indicator"></span></a></th>
        <th scope="col">ESI<a href="?sort=esi"><span class="sort-indicator"></span></a></th>
        <th scope="col">LOP<a href="?sort=lop"><span class="sort-indicator"></span></a></th>
        <th scope="col">id_card<a href="?sort=id_card"><span class="sort-indicator"></span></a></th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr class="table-light">
            <td>{{ item.emp_code }}</td>
            <td>{{ item.emp_name }}</td>
            <td>{{ item.department }}</td>
            <td>{{ item.basic_pay }}</td>
            <td>{{ item.sa }}</td>
            <td>{{ item.hra }}</td>
            <td>{{ item.pra_gain }}</td>
            <td>{{ item.att_bonus }}</td>
            <td>{{ item.pra_loss }}</td>
            <td>{{ item.esi }}</td>
            <td>{{ item.lop }}</td>
            <td>{{ item.id_card }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table> -->
