{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Upload Excel File</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form|crispy }}
            <button
              type="submit"
              class="btn btn-primary btn-block"
              style="border-radius: 20px"
            >
              <i class="fa-solid fa-upload me-2"></i> Upload
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
