{% extends 'base.html' %} {% block content %}
<div class="container">
    <h2>Employee Details</h2>
    <div>
      <strong>Name:</strong> {{ employee.emp_name }}<br>
      <strong>Employee Code:</strong> {{ employee.emp_code }}<br>
      <strong>Department:</strong> {{ employee.department }}<br>
      <strong>Date of Birth:</strong> {{ employee.dob }}<br>
    
      <h3>Payslips</h3>
      <ul>
        {% for payslip in payslips %}
          <li>Month: {{ payslip.month }}, Year: {{ payslip.year }}</li>
          <li>Total Days Worked: {{ payslip.total_days_worked }}</li>
        {% endfor %}
      </ul>
    </div>
    <a href="{% url 'emlist' %}" class="btn btn-primary">Back to Employee List</a>
  </div>

{% endblock %}